@using System.Web.Optimization;
@model Framework.Libraies.ResultDataUser

@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Styles/Dimension.css?v=8")

<div class="col-md-12 mb30" style="font-family:Arial">
    <!-- tab style -->
    <div class="clearfix">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-profile" data-toggle="tab">PROFILE</a></li>
            <li><a href="#tab-pending" data-toggle="tab">YOUR PENDING ORDER</a></li>
            <li><a href="#tab-past" data-toggle="tab">PAST ORDERS</a></li>
            <li><a href="#tab-promos" data-toggle="tab">PROMOS</a></li>
        </ul>
        <div class="tab-content" style="background-color:#F2F2F2">
            <!-- tab PROFILE -->
            <div class="tab-pane active" id="tab-profile">
                <div class="clearfix">
                    @*@foreach (var item in Model)
                        {*@
                    <div class="container">
                        <div class="row dimension">
                            <div class="insidebox">
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        @*@if (Model.Image == null)
                                            {*@
                                        <img src="~/Content/prueba.png" style="width: 130px; height: 130px; border: 1px solid #7F8C8D; " />

                                        @*}
                                            else
                                            {
                                                <img src="@Model.Image" style="width: 130px; height: 130px; border: 1px solid #7F8C8D; " />
                                            }*@
                                    </div>
                                    <div class="form-group ">
                                        <h4><strong><label id="titlename">@Model.FirstName @Model.LastName</label></strong></h4>
                                    </div>
                                    <div class="form-group">
                                        <h6><label id="titleemail">@Model.Email</label> </h6>
                                    </div>
                                    <br />
                                    <div class="form-group ">
                                        <h4><strong>Your cars</strong></h4>
                                    </div>
                                    <div class="form-group ">
                                        <h6>pendiente</h6>
                                    </div>
                                    <div class="form-group">
                                        @*<form action="" method="post" enctype="multipart/form-data">
                                                <fieldset>
                                                    <label for="Image">Change Image</label>
                                                    <input type="file" name="Image" />
                                                    <br />
                                                    <input type="submit" value="Upload" />
                                                </fieldset>
                                            </form>*@
                                        @*@using (Html.BeginForm("Create", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                            {
                                            <div class="editor-field">
                                                <label for="Image">Change Image</label>
                                                <input type="file" title="search image" file-model="profileimage" id="allfilepath" name="file" />
                                                <button type="submit" class="btn btn-default btn-sm">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </div>
                                            }*@
                                    </div>

                                </div>
                                <div class="col-lg-10">
                                    <div class="col-sm-6">
                                        <h3><span class="title"><strong style="color:#e51111">Personal Information: </strong></span><span class="glyphicon glyphicon-edit" style="color:darkgray;cursor:pointer"></span></h3>
                                        <div class="col-sm-9">
                                            <div class="left2">
                                                <div class="form-group">
                                                    <label style="color:#1167af">Zip Code: </label> <label class="lab" id="zip">@Model.ZipCode</label>
                                                    <input type="number" class="form-control borderInput e hidden" id="ZipCode" placeholder="">
                                                    <span class="req1 hidden" style="color:red">*Insert a valid Zip Code(4 digits)</span>
                                                </div>
                                                <div class="form-group">
                                                    <label style="color:#1167af"> Name: </label> <label class="lab" id="fname">@Model.FirstName</label>
                                                    <input type="text" class="form-control borderInput e hidden" id="Firstname" placeholder="">
                                                    <span class="req2 hidden" style="color:red">*Insert a Name(50 characters max)</span>
                                                </div>
                                                <div class="form-group">
                                                    <label style="color:#1167af"> Last Name: </label> <label class="lab" id="lname">@Model.LastName</label>
                                                    <input type="text" class="form-control borderInput e hidden" id="LastName" placeholder="">
                                                    <span class="req3 hidden" style="color:red">*Insert a Lastname(50 characters max)</span>
                                                </div>
                                                <div class="form-group">
                                                    <label style="color:#1167af">  Address: </label> <label class="lab" id="adrs">@Model.Address</label>
                                                    <input type="text" class="form-control borderInput e hidden" id="Address" placeholder="">
                                                    <span class="req4 hidden" style="color:red">*Insert a Address(150 characters max)</span>
                                                </div>
                                                <div class="form-group">
                                                    <label style="color:#1167af">  E-mail: </label> <label class="lab" id="em">@Model.Email</label>
                                                    <input type="text" class="form-control borderInput e hidden" id="Email1" placeholder="">
                                                    <span class="req5 hidden" style="color:red">*Insert a valid Email</span>
                                                    <span class="req7 hidden" style="color:red">*Email already taken</span>
                                                </div>
                                                <div class="form-group">
                                                    <label style="color:#1167af"> Mobile: </label> <label class="lab" id="movil">@Model.Phone</label>
                                                    <input type="number" class="form-control borderInput e hidden" id="Phone" placeholder="" value="@Model.Phone">
                                                    <span class="req6 hidden" style="color:red">*Insert a valide phone(15 digits)</span>
                                                </div>
                                                <button type="button" class="btn btn-default cncel hidden">Cancel</button>
                                                <button class="btn btn-success save hidden">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 vl"></div>
                                    <div class="col-sm-3">
                                        <h3><span class="title"><strong style="color:#e51111">Your cars:</strong></span></h3>
                                        <div class="form-group">
                                            pendiente @*MOdel*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*}*@
                </div>
            </div>
            <!-- tab PENDING -->
            <div class="tab-pane" id="tab-pending">
                @Html.Action("Pending", "Profile")

            </div>
            <!-- tab PAST -->
            <div class="tab-pane" id="tab-past">
                @Html.Action("Past", "Profile")

            </div>
            <!-- tab PROMOS -->
            <div class="tab-pane" id="tab-promos">
                @Html.Action("Promos", "Profile")
            </div>
        </div>
    </div>
    <!-- tab style -->
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/scripts/app.js")
@Scripts.Render("~/Scripts/Site/Profile.js?v=5")
<script>
    $(document).ready(function () {
        $("#principalDiv").attr("class", "prDivSub");
        $("#mainContainDiv").attr("class", "prMainContentSub");
    });
</script>
