@using System.Web.Optimization;
@model Framework.Libraies.ResultUserOrder
@{
    ViewBag.Title = "Past";
}


<div class="contentPage">
    <div class="row">
        <div class="col-lg-2">
            @foreach (var item in Model.user)
            {

                <div class="form-group">
                    <img src="~/fonts/user.png" style="width: 130px; height: 130px; border: 1px solid #7F8C8D; " />
                </div>
                <div class="form-group">
                    <h4><strong><label id="titlenamep">@item.FirstName @item.LastName</label></strong></h4>
                </div>
                <div class="form-group">
                    <h6><label id="titleemailp">@item.Email</label> </h6>
                </div>
                <br />
                <div class="form-group">
                    <h4><strong>Your cars</strong></h4>
                </div>
                <div class="form-group">
                    <h6>Audi TT 2017</h6>
                </div>
                <div class="form-group">
                    <h6>AB12345</h6>
                </div>
            }
        </div>
        <div class="col-lg-8">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        @if (Model.product.Count > 0)
                        {
                            foreach (var item in Model.product)
                            {
                        <tr>
                            <td class="vertical" style="width:150px;">
                                <div class="form-group" style="margin-top:40px; ">
                                    <h5>Audi TT 2017</h5>
                                </div>
                                <div class="form-group">
                                    <h5>Order number:</h5>
                                </div>
                                <div class="form-group">
                                    <h5>@item.orders</h5>
                                </div>
                            </td>
                            <td class="vertical2">
                                <div class="col-lg-4">
                                    <img src="http://admin.dekkonline.sonetworks.no/@item.Image" style="width: 90px; height: 90px;" />
                                </div>
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <h4><strong>@item.Name</strong></h4>
                                    </div>
                                    <div class="form-group">
                                        <h6><strong>@item.Description</strong></h6>
                                    </div>
                                </div>
                            </td>
                            <td style="margin-left:40px;">
                                <div style="margin-left:30px;">
                                    <div class="form-group">
                                        <h5>Total: <strong> <span style="font-size:16px;">@item.totalpriceprod kr</span> </strong></h5>
                                    </div>
                                    <div class="form-group">
                                        <h5>Status:<span style="font-size:12px;"> @item.Datedelivered2</span></h5>
                                    </div>
                                    <div class="form-group">
                                        <h5 style="color:red; font-size:12px;">Rate:</h5>
                                    </div>
                                    <div class="form-group">
                                        <h5 style="font-size:12px;">Workshop:</h5>
                                    </div>
                                </div>
                            </td>

                        </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td class="vertical2">
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <h4><strong>No orders completed.</strong></h4>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>