@using System.Web.Optimization;
@{

    ViewBag.Title = "Step2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Styles/Dimension.css?v=4")
@Styles.Render("~/Styles/Shoppingcart.css?v=1")

<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/step2.JPG" class="imgRespons1" />
            <img src="~/Content/step2movil.PNG" class="img-responsive imgRespons2" />
        </div>
    </div>
    <div style="margin-left:20px;">
        <div class="row">
            <div class="col-lg-12" style="text-align:center;">
                <h3 class="text1"> Are you a Dekkonline member? Log in</h3>
            </div>
        </div>
        <div class="widthleft">
            <div class="row rowInfo">
                <div class="col-lg-4 radioPerson">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <label class="radio-inline textLeft"><strong>I am a: </strong></label><br class="ocultarsalto" />
                                <label class="radio-inline" style="font-size:19px;">&nbsp;<input type="radio" name="season" id="comboPerson" value="winter" class="widthCombo1"> Person </label>
                                <label class="radio-inline" style="font-size:19px;">&nbsp;<input type="radio" name="season" id="comboCompany" value="winter" class="widthCombo2"> Company </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-8">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12 radioleft">
                                <label class="radio-inline" style="color: #E53935; font-size: 20px; "><strong>I want the service at: </strong></label>
                                <label class="radio-inline" style="font-size:19px;">&nbsp;<input type="radio" name="season2" id="seasonWinter2" value="winter2" style="width: 20px; height: 20px;" class="moverradio"> Nearest workshop </label>
                                <label class="radio-inline" style="font-size:19px;">&nbsp;<input type="radio" name="season2" id="seasonSpringFall2" value="spring-fall2" style="width:20px; height:20px;"> my place </label>
                            </div>
                        </div>
                    </form>
                </div>                
            </div>
            <br />
            <div class="row">
                <div class="col-lg-5 rowInfoPer">
                    <label style="color: #E53935; font-size: 20px; margin-bottom: 20px; "><strong>Personal Information</strong></label>
                    <form class="form-horizontal rowInfoPer2" role="form">
                        <div class="form-group">
                            <label for="zipcode" class="col-lg-3 col-xs-4 control-label textoAzul">zip code</label>
                            <div class="col-lg-2 col-xs-6">
                                <input type="text" class="form-control borderInput" id="zipcode" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Firstname" class="col-lg-3 col-xs-4 control-label textoAzul">First name</label>
                            <div class="col-lg-6 col-xs-6">
                                <input type="text" class="form-control borderInput" id="Firstname" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Lastname" class="col-lg-3 col-xs-4 control-label textoAzul">Last name</label>
                            <div class="col-lg-6 col-xs-6">
                                <input type="text" class="form-control borderInput" id="Lastname" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-lg-3 col-xs-4 control-label textoAzul">Address</label>
                            <div class="col-lg-6 col-xs-6">
                                <input type="text" class="form-control borderInput" id="address" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-lg-3 col-xs-4 control-label textoAzul">Email</label>
                            <div class="col-lg-6 col-xs-6">
                                <input type="email" class="form-control borderInput" id="email" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mobile" class="col-lg-3 col-xs-4 control-label textoAzul">Mobile</label>
                            <div class="col-lg-6 col-xs-6">
                                <input type="text" class="form-control borderInput" id="mobile" placeholder="">
                            </div>
                        </div>
                    </form>
                    <div id="InfoCompany">
                        <form class="form-horizontal ocultardiv" role="form">
                            <div class="form-group">
                                <label for="choose" class="col-lg-3 control-label textoAzul">You choose</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control borderInput choose" id="choose" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="date" class="col-lg-3 control-label textoAzul"> Date</label>
                                <div class="col-lg-3">
                                    <input type="text" class="form-control borderInput" id="date" placeholder="" disabled>
                                </div>
                                <label for="time" class="col-lg-1 control-label textoAzul">Time</label>
                                <div class="col-lg-2">
                                    <input type="text" class="form-control borderInput" id="time" placeholder="" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Lastname" class="col-lg-3 control-label textoAzul">Comments</label>
                                <div class="col-lg-6">
                                    <textarea class="form-control borderInput" id="comments" rows="3" disabled></textarea>
                                </div>
                            </div>
                        </form>
                    </div>                   
                </div>
                <div class="col-lg-7 alinearWork">
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="textshop"><strong>This are the nearest workshop:</strong></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="sizeText1">Click one to see available time, hours and meak an appointment.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group alinearSrotBy">
                                <label class="col-lg-2 col-xs-3 alinearSort">SORT BY</label>
                                <div class="col-lg-3 col-xs-5 alinearCombo">
                                    <select class="form-control">
                                        <option value="">Seleccione</option>
                                        <option value="">Seleccione</option>
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>
                            </div>
                        </div>                       
                    </div>
                    <br />
                    <div class="widthleftresponse">
                        <div class="row blanco rowcat">
                            <div class="col-lg-2 col-xs-3">
                                <img src="~/Content/t1.jpg" style="width:110px; height:105px;" />
                            </div>
                            <div class="col-lg-5 col-xs-8 catalago">
                                <h4 style="color: #2471A3; "><strong>Big Motors Shop</strong></h4>
                                <p>Plaza los geranios Av. Diana 406, Local 1 Col Delicias, Cuernavaca</p>
                                <h5 style="color: #909497;">Ratings: <img src="~/Content/estrellas.png" style="width:80px;" /></h5>
                            </div>
                            <div class="col-lg-2 catHiden">
                                <h3><strong>60 kr</strong></h3>
                            </div>
                        </div>
                        <div class="row blanco rowcat">
                            <div class="col-lg-2 col-xs-3">
                                <img src="~/Content/t2.jpg" style="width:110px; height:105px;" />
                            </div>
                            <div class="col-lg-5 col-xs-8 catalago">
                                <h4 style="color: #2471A3; "><strong>Big Red Shop</strong></h4>
                                <p>Plaza los geranios Av. Diana 406, Local 1 Col Delicias, Cuernavaca</p>
                                <h5 style="color: #909497;">Ratings: <img src="~/Content/estrellas.png" style="width:80px;" /></h5>
                            </div>
                            <div class="col-lg-2 catHiden">
                                <h3><strong>80 kr</strong></h3>
                            </div>
                        </div>
                        <div class="row blanco rowcat">
                            <div class="col-lg-2 col-xs-3">
                                <img src="~/Content/t3.jpg" style="width:110px; height:105px;" />
                            </div>
                            <div class="col-lg-5 col-xs-8 catalago">
                                <h4 style="color: #2471A3; "><strong>Elite Shop</strong></h4>
                                <p>Plaza los geranios Av. Diana 406, Local 1 Col Delicias, Cuernavaca</p>
                                <h5 style="color: #909497;">Ratings: <img src="~/Content/estrellas.png" style="width:80px;" /></h5>
                            </div>
                            <div class="col-lg-2 catHiden">
                                <h3><strong>60 kr</strong></h3>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/scripts/app.js")
@Scripts.Render("~/Scripts/Step2.js?v=9")

<script>
    $(document).ready(function () {
        $("#principalDiv").attr("class", "prDivSub");
        $("#mainContainDiv").attr("class", "prMainContentSub");
    });
</script>
